@model PR5.Models.PR1Model 
@{
    ViewData["Title"] = "Lab-work 1";
}
<h1>@ViewData["Title"]</h1>

<form method="post" enctype="multipart/form-data" asp-controller="Labs" asp-action="PR1">
    <div class="form-group">
        <label for="pdata">Data</label>
        <input type="text" class="form-control" id="pdata" asp-for="Data">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>

@if (Model != null)
            {
                <div class="container mt-5">
                    @if (Model.Calculated)
                {
                    <div class="row">
                        <label for="presponse">Response</label>
                        <input type="text" id="presponse" value="@Model.Response">
                    </div>
                }
                    @if (!string.IsNullOrEmpty(Model.ErrorValue))
                    {
                        <div class="row">
                            <label for="perror"></label>
                            <input type="text" id="perror" value="@Model.ErrorValue" />
                        </div>
                    }
                </div>
            }
