@model PR5.Models.PR2Model
@{
    ViewData["Title"] = "Lab-work 2";
}
<h1>@ViewData["Title"]</h1>

<form method="post" enctype="multipart/form-data" asp-controller="Labs" asp-action="PR2">
    <div class="form-group">
        <label for="pn">N</label>
        <input type="text" class="form-control" id="pn" asp-for="N">
    </div>
    <div class="form-group">
        <label for="pq">Q</label>
        <input type="text" class="form-control" id="pq" asp-for="Q">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>

@if (Model != null)
{
    <div class="container mt-5">
        @if (Model.Calculated)
        {
            <div class="row">
                <label for="presponse">Response</label>
                <input type="text" id="presponse" value="@Model.Response">
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.ErrorValue))
        {
            <div class="row">
                <label for="perror"></label>
                <input type="text" id="perror" value="@Model.ErrorValue" />
            </div>
        }
    </div>
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
